html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "Playfair Display", sans-serif;
}

.wrapper {
  width: 900px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* site-nav */
.main-header {
  padding-top: 76px;
  padding-bottom: 102px;
}

.site-nav li {
  display: inline-block;  
}

.site-nav li:not(:last-child) {
  margin-right: 100px;
}

.site-nav a {
  display: block;
  text-align: center;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0;
  padding:0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

.site-nav a:hover {
  color: #03a9f4;
}

/* main-content */
.main-content {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}

.content-li {
  display: inline-block;
  width: 420px;
  margin-right: 60px;
  margin-bottom: 136px;
}

.content-li:nth-child(2n) {
  margin-right: 0;
}

.content-li:nth-last-child(-n+2) {
margin-bottom: 54px;
}

.main-content-img {
  margin-bottom: 30px;
}

.main-content-p {
  margin-top: 0;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 17px;
  font-weight: lighter;
  color: #b4ad9e;
  text-transform: uppercase;
}

.main-content-h2 {
  margin-top: 0;
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 36px;
  font-weight: 400;
}

.main-content-text {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
}

section {
  padding-bottom: 70px;
}

  .main-button {
  display: block;
  padding: 0;
  border: 1px solid black;
  background: rgb(255, 255, 255);
  margin-left: 358px;
  margin-right: 378px;
  width: 164px;
  height: 60px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
}

.main-button:hover {
  color: #03a9f4;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}