.header {
  background-image: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
    url('../images/bg_01-min.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 26px;
  padding-bottom: 230px;

  &__description {
    padding-top: 180px;
    margin-bottom: 44px;
    font-family: 'Kaushan Script';
    font-weight: 400;
    font-size: 72px;
    line-height: 1.2;
    color: $main-color;
    text-align: center;
  }

  &__title {
    width: 854px;
    margin: 0 auto;
    margin-bottom: 110px;
    font-family: $main-font;
    font-weight: 700;
    font-size: 150px;
    line-height: 1.2;
    color: $main-color;
    text-align: center;
    text-transform: uppercase;
  }

  &__link {
    display: block;
    margin: 0 auto;
    border: 3px solid rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0);
    width: 164px;
    height: 44px;
    text-align: center;
    font-family: $main-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 44px;
    color: $main-color;
    text-transform: uppercase;
  }
}

@media (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .header {
    background-image: url('../images/bg_01@2x-min.jpg');
    background-image: linear-gradient(0deg, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%),
      url('../images/bg_01-min.jpg');
  }
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__list {
    width: 492px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-link {
      font-family: $main-font;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.2;
      color: $main-color;
      transition: color 200ms linear;

      &::after {
        display: block;
        content: '';
        width: 100%;
        background-color: rgb(252, 227, 138);
        height: 3px;
        margin: 10px auto 0;
        visibility: hidden;
      }

      &:hover,
      &:focus {
        color: rgb(252, 227, 138);
      }

      &:hover::after,
      &:focus::after {
        background-color: rgb(252, 227, 138);
        visibility: visible;
      }
    }

    &-btn {
      border: none;
      background-color: transparent;
      cursor: pointer;
    }

    &-icon {
      width: 18px;
      height: 14px;
      fill: $main-color;

      &:hover,
      &:focus {
        fill: rgb(252, 227, 138);
      }
    }
  }

  &__icon-list {
    width: 78px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.logo {
  font-family: $main-font;
  font-weight: 700;
  font-size: 30px;
  line-height: 1.2;
  color: $main-color;
  transition: color 200ms linear;

  &:hover,
  &:focus {
    color: rgb(252, 227, 138);
  }
}

.nav-box {
  width: 618px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
